body {

    font-family: "PT Sans", sans-serif;
	min-width: 1000px;
	width: 1400px;
	height: 100%;
	background: #cccccc;
	padding: 0px;
	margin: 0px;
}

.l-column-left {
	width: 272px;
	min-height: 100%;
	background: #222;
	position: fixed;
}

.l-column-left ul {
	list-style: none;
	padding: 32px;
}

.l-column-left ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	margin-bottom: 28px;
}

a.current {
	font-weight: bold;
	padding-bottom: 20px;
} 


.l-content {
	background: #fff;
	margin-left: 272px;
	padding-left: 30px;
	
}

/*HEADER*/

.header {
	margin-left: -30px;
	padding: 33px 0px 33px 130px;
	background-color: #f3f3f3;
	margin-bottom: 50px;
}

input {
	padding: 29px 0px 29px 29px;
	width: 898px;
	font-size: 16px;
	border: 1px solid;
	border-radius: 10px;
	border-color: #e3e4e5;

}

/*ЗАГОЛОВОК*/

.last-news-rubric {

	font-size: 30px;
	font-weight: bold;
	margin-bottom: 22px;
}

/*МЕНЮ*/

.last-news-main-menu {

	list-style: none;
	padding: 0;
	margin:0;
}

.last-news-main-menu li {

	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
}

.last-news-main-menu li a {

	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

/* БЛОКИ*/
.last-news-block {

	display: inline-block;
	float: left;
	border: 1px solid #ccc;
	width: 290px;
	height: 200px;
	text-decoration: none;
	color: black;
	margin-right: 15px;
	padding: 30px
}

a span {

	display: block;
}

.last-news-block:last-child {
	margin-right: 0px;
}




.last-news-block-first-header {

	font-size: 16px;
	font-weight: bold;
	color: #56b08a;
	margin-bottom: 27px;
	display: block;
}

.last-news-block-second-header {

	font-size: 17px;
	font-weight: bold;
	margin-bottom: 13px;
	display: block;

}

.last-news-block-text {

	font-size: 16px;
	display: block;
	margin-bottom: 38px;
}

.last-news-block-date {

	font-size: 16px;
	color: #ccc;
}

a .block1:hover .last-news-block-first-header,
a .block2:hover .last-news-block-first-header,
a .block3:hover .last-news-block-first-header {

	color: #18CA95;
}


.clearfix::after {

    content: "";
    display:table;
    clear: both;
 }